myWebClient/myWebAspClient/myWebAspClient/Service References/professor_Feedback_WCFLib/myWCFClassLibrary.Professor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/myWCFClassLibrary.Professor" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/myWCFClassLibrary.Professor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="feedbackModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_Lecture_id" type="xs:int" />
      <xs:element minOccurs="0" name="PK_Feedback_id" type="xs:int" />
      <xs:element minOccurs="0" name="end_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="feedback_value" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="feedbackModel" nillable="true" type="tns:feedbackModel" />
  <xs:complexType name="ArrayOffeedbackModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="feedbackModel" nillable="true" type="tns:feedbackModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffeedbackModel" nillable="true" type="tns:ArrayOffeedbackModel" />
  <xs:complexType name="lectureModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_Module_id" type="xs:int" />
      <xs:element minOccurs="0" name="FK_Professor_id" type="xs:int" />
      <xs:element minOccurs="0" name="PK_Lecture_id" type="xs:int" />
      <xs:element minOccurs="0" name="lecture_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lecture_status" type="xs:int" />
      <xs:element minOccurs="0" name="lecture_time" type="ser:duration" />
      <xs:element minOccurs="0" name="lecture_title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="lectureModel" nillable="true" type="tns:lectureModel" />
  <xs:complexType name="ArrayOflectureModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lectureModel" nillable="true" type="tns:lectureModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflectureModel" nillable="true" type="tns:ArrayOflectureModel" />
</xs:schema>