myWebClient/myWebAspClient/myWebAspClient/Service References/professor_Feedback_WCFLib/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProfessorFeedback" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/myWCFClassLibrary.Professor" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfessorFeedback_createFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:createFeedback" />
  </wsdl:message>
  <wsdl:message name="IProfessorFeedback_createFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:createFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorFeedback_GetFeedbackByProfessor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbackByProfessor" />
  </wsdl:message>
  <wsdl:message name="IProfessorFeedback_GetFeedbackByProfessor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbackByProfessorResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorFeedback_createLecture_InputMessage">
    <wsdl:part name="parameters" element="tns:createLecture" />
  </wsdl:message>
  <wsdl:message name="IProfessorFeedback_createLecture_OutputMessage">
    <wsdl:part name="parameters" element="tns:createLectureResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorFeedback_GetLecturesByProfessor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturesByProfessor" />
  </wsdl:message>
  <wsdl:message name="IProfessorFeedback_GetLecturesByProfessor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLecturesByProfessorResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorFeedback_updateLecture_InputMessage">
    <wsdl:part name="parameters" element="tns:updateLecture" />
  </wsdl:message>
  <wsdl:message name="IProfessorFeedback_updateLecture_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateLectureResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfessorFeedback">
    <wsdl:operation name="createFeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorFeedback/createFeedback" message="tns:IProfessorFeedback_createFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorFeedback/createFeedbackResponse" message="tns:IProfessorFeedback_createFeedback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackByProfessor">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorFeedback/GetFeedbackByProfessor" message="tns:IProfessorFeedback_GetFeedbackByProfessor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorFeedback/GetFeedbackByProfessorResponse" message="tns:IProfessorFeedback_GetFeedbackByProfessor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createLecture">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorFeedback/createLecture" message="tns:IProfessorFeedback_createLecture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorFeedback/createLectureResponse" message="tns:IProfessorFeedback_createLecture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLecturesByProfessor">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorFeedback/GetLecturesByProfessor" message="tns:IProfessorFeedback_GetLecturesByProfessor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorFeedback/GetLecturesByProfessorResponse" message="tns:IProfessorFeedback_GetLecturesByProfessor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateLecture">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorFeedback/updateLecture" message="tns:IProfessorFeedback_updateLecture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorFeedback/updateLectureResponse" message="tns:IProfessorFeedback_updateLecture_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProfessorFeedback" type="tns:IProfessorFeedback">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createFeedback">
      <soap:operation soapAction="http://tempuri.org/IProfessorFeedback/createFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedbackByProfessor">
      <soap:operation soapAction="http://tempuri.org/IProfessorFeedback/GetFeedbackByProfessor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createLecture">
      <soap:operation soapAction="http://tempuri.org/IProfessorFeedback/createLecture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLecturesByProfessor">
      <soap:operation soapAction="http://tempuri.org/IProfessorFeedback/GetLecturesByProfessor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLecture">
      <soap:operation soapAction="http://tempuri.org/IProfessorFeedback/updateLecture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfessorFeedback">
    <wsdl:port name="BasicHttpBinding_IProfessorFeedback" binding="tns:BasicHttpBinding_IProfessorFeedback">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/myWCFClassLibrary/Professor/ProfessorFeedback" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>