myWebClient/myWebAspClient/myWebAspClient/Service References/professor_Feedback_WCFLib/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/myWCFClassLibrary.Professor" />
  <xs:element name="createFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/myWCFClassLibrary.Professor" minOccurs="0" name="feedData" nillable="true" type="q1:feedbackModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createFeedbackResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackByProfessor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackByProfessorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/myWCFClassLibrary.Professor" minOccurs="0" name="GetFeedbackByProfessorResult" nillable="true" type="q2:ArrayOffeedbackModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createLecture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/myWCFClassLibrary.Professor" minOccurs="0" name="lectureData" nillable="true" type="q3:lectureModel" />
        <xs:element minOccurs="0" name="feed" type="xs:boolean" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createLectureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createLectureResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturesByProfessor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfId" type="xs:int" />
        <xs:element minOccurs="0" name="isFeed" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLecturesByProfessorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/myWCFClassLibrary.Professor" minOccurs="0" name="GetLecturesByProfessorResult" nillable="true" type="q4:ArrayOflectureModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLecture">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/myWCFClassLibrary.Professor" minOccurs="0" name="lectureData" nillable="true" type="q5:lectureModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLectureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateLectureResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>