myWebClient/myWebAspClient/myWebAspClient/Service References/student_Report_WCFLib/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentReport" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentReport_getAllQuizByStudentId_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllQuizByStudentId" />
  </wsdl:message>
  <wsdl:message name="IStudentReport_getAllQuizByStudentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllQuizByStudentIdResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentReport_getAllQuesByQuizId_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllQuesByQuizId" />
  </wsdl:message>
  <wsdl:message name="IStudentReport_getAllQuesByQuizId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllQuesByQuizIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentReport">
    <wsdl:operation name="getAllQuizByStudentId">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentReport/getAllQuizByStudentId" message="tns:IStudentReport_getAllQuizByStudentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentReport/getAllQuizByStudentIdResponse" message="tns:IStudentReport_getAllQuizByStudentId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllQuesByQuizId">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentReport/getAllQuesByQuizId" message="tns:IStudentReport_getAllQuesByQuizId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentReport/getAllQuesByQuizIdResponse" message="tns:IStudentReport_getAllQuesByQuizId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentReport" type="tns:IStudentReport">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllQuizByStudentId">
      <soap:operation soapAction="http://tempuri.org/IStudentReport/getAllQuizByStudentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllQuesByQuizId">
      <soap:operation soapAction="http://tempuri.org/IStudentReport/getAllQuesByQuizId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentReport">
    <wsdl:port name="BasicHttpBinding_IStudentReport" binding="tns:BasicHttpBinding_IStudentReport">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/myWCFClassLibrary/Student/StudentReport" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>