myWebClient/myWebAspClient/myWebAspClient/Service References/modules_WCFLib/myWCFClassLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/myWCFClassLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/myWCFClassLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDepartmentModule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentModule" nillable="true" type="tns:DepartmentModule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentModule" nillable="true" type="tns:ArrayOfDepartmentModule" />
  <xs:complexType name="DepartmentModule">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_Department_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PK_Module_id" type="xs:int" />
      <xs:element minOccurs="0" name="module_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="module_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentModule" nillable="true" type="tns:DepartmentModule" />
</xs:schema>