myWebClient/myWebAspClient/myWebAspClient/Service References/modules_WCFLib/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/myWCFClassLibrary" />
  <xs:element name="GetAllModulesByProfessor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProfessorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllModulesByProfessorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/myWCFClassLibrary" minOccurs="0" name="GetAllModulesByProfessorResult" nillable="true" type="q1:ArrayOfDepartmentModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllModulesByStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StudentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllModulesByStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/myWCFClassLibrary" minOccurs="0" name="GetAllModulesByStudentResult" nillable="true" type="q2:ArrayOfDepartmentModule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>