myWebClient/myWebAspClient/myWebAspClient/Service References/student_Quiz_WCFLib/myWCFClassLibrary.Student.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/myWCFClassLibrary.Student" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/myWCFClassLibrary.Student" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/myWCFClassLibrary" />
  <xs:complexType name="QuizResultModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_OptionId" type="xs:int" />
      <xs:element minOccurs="0" name="FK_QuestionId" type="xs:int" />
      <xs:element minOccurs="0" name="FK_QuizId" type="xs:int" />
      <xs:element minOccurs="0" name="FK_studentId" type="xs:int" />
      <xs:element minOccurs="0" name="PK_QuestionResult_Id" type="xs:int" />
      <xs:element minOccurs="0" name="answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isAnswered" type="xs:int" />
      <xs:element minOccurs="0" name="marks" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/myWCFClassLibrary" minOccurs="0" name="tblQuizDetail" nillable="true" type="q1:tblQuizDetail" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/myWCFClassLibrary" minOccurs="0" name="tblQuizOption" nillable="true" type="q2:tblQuizOption" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/myWCFClassLibrary" minOccurs="0" name="tblQuizQuestion" nillable="true" type="q3:tblQuizQuestion" />
      <xs:element minOccurs="0" name="update" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuizResultModel" nillable="true" type="tns:QuizResultModel" />
  <xs:complexType name="ArrayOfQuizResultModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QuizResultModel" nillable="true" type="tns:QuizResultModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuizResultModel" nillable="true" type="tns:ArrayOfQuizResultModel" />
  <xs:complexType name="FeedbackAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_Feedback_id" type="xs:int" />
      <xs:element minOccurs="0" name="FK_Student_id" type="xs:int" />
      <xs:element minOccurs="0" name="PK_Feedback_result_id" type="xs:int" />
      <xs:element minOccurs="0" name="feedback_answer" type="xs:float" />
      <xs:element minOccurs="0" name="feedback_date" type="xs:dateTime" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/myWCFClassLibrary" minOccurs="0" name="tblFeedback" nillable="true" type="q4:tblFeedback" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/myWCFClassLibrary" minOccurs="0" name="tblStudent" nillable="true" type="q5:tblStudent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FeedbackAnswer" nillable="true" type="tns:FeedbackAnswer" />
</xs:schema>