myWebClient/myWebAspClient/myWebAspClient/Service References/professor_Report_WCFLib/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProfessorReport" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProfessorReport_getAllQuizByModule_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllQuizByModule" />
  </wsdl:message>
  <wsdl:message name="IProfessorReport_getAllQuizByModule_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllQuizByModuleResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorReport_getAllModuleByTerm_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllModuleByTerm" />
  </wsdl:message>
  <wsdl:message name="IProfessorReport_getAllModuleByTerm_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllModuleByTermResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorReport_getAllQuestionsByQuiz_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllQuestionsByQuiz" />
  </wsdl:message>
  <wsdl:message name="IProfessorReport_getAllQuestionsByQuiz_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllQuestionsByQuizResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorReport_getStatusByQuestionId_InputMessage">
    <wsdl:part name="parameters" element="tns:getStatusByQuestionId" />
  </wsdl:message>
  <wsdl:message name="IProfessorReport_getStatusByQuestionId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStatusByQuestionIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorReport_getAllQuizbyStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllQuizbyStudent" />
  </wsdl:message>
  <wsdl:message name="IProfessorReport_getAllQuizbyStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllQuizbyStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IProfessorReport_getAllFeedbacks_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllFeedbacks" />
  </wsdl:message>
  <wsdl:message name="IProfessorReport_getAllFeedbacks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllFeedbacksResponse" />
  </wsdl:message>
  <wsdl:portType name="IProfessorReport">
    <wsdl:operation name="getAllQuizByModule">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorReport/getAllQuizByModule" message="tns:IProfessorReport_getAllQuizByModule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorReport/getAllQuizByModuleResponse" message="tns:IProfessorReport_getAllQuizByModule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllModuleByTerm">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorReport/getAllModuleByTerm" message="tns:IProfessorReport_getAllModuleByTerm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorReport/getAllModuleByTermResponse" message="tns:IProfessorReport_getAllModuleByTerm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllQuestionsByQuiz">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorReport/getAllQuestionsByQuiz" message="tns:IProfessorReport_getAllQuestionsByQuiz_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorReport/getAllQuestionsByQuizResponse" message="tns:IProfessorReport_getAllQuestionsByQuiz_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStatusByQuestionId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorReport/getStatusByQuestionId" message="tns:IProfessorReport_getStatusByQuestionId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorReport/getStatusByQuestionIdResponse" message="tns:IProfessorReport_getStatusByQuestionId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllQuizbyStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorReport/getAllQuizbyStudent" message="tns:IProfessorReport_getAllQuizbyStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorReport/getAllQuizbyStudentResponse" message="tns:IProfessorReport_getAllQuizbyStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllFeedbacks">
      <wsdl:input wsaw:Action="http://tempuri.org/IProfessorReport/getAllFeedbacks" message="tns:IProfessorReport_getAllFeedbacks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProfessorReport/getAllFeedbacksResponse" message="tns:IProfessorReport_getAllFeedbacks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProfessorReport" type="tns:IProfessorReport">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllQuizByModule">
      <soap:operation soapAction="http://tempuri.org/IProfessorReport/getAllQuizByModule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllModuleByTerm">
      <soap:operation soapAction="http://tempuri.org/IProfessorReport/getAllModuleByTerm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllQuestionsByQuiz">
      <soap:operation soapAction="http://tempuri.org/IProfessorReport/getAllQuestionsByQuiz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatusByQuestionId">
      <soap:operation soapAction="http://tempuri.org/IProfessorReport/getStatusByQuestionId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllQuizbyStudent">
      <soap:operation soapAction="http://tempuri.org/IProfessorReport/getAllQuizbyStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFeedbacks">
      <soap:operation soapAction="http://tempuri.org/IProfessorReport/getAllFeedbacks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProfessorReport">
    <wsdl:port name="BasicHttpBinding_IProfessorReport" binding="tns:BasicHttpBinding_IProfessorReport">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/myWCFClassLibrary/Professor/ProfessorReport" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>