myWebClient/myWebAspClient/myWebAspClient/Service References/professor_Quiz_WCFLib/myWCFClassLibrary.Professor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/myWCFClassLibrary.Professor" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/myWCFClassLibrary.Professor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="quizModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_ModuleId" type="xs:int" />
      <xs:element minOccurs="0" name="FK_Professor_id" type="xs:int" />
      <xs:element minOccurs="0" name="PK_Quiz_id" type="xs:int" />
      <xs:element minOccurs="0" name="isTimeup" type="xs:int" />
      <xs:element minOccurs="0" name="questionModel" nillable="true" type="tns:ArrayOfquestionModel" />
      <xs:element minOccurs="0" name="quiz_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="quiz_end_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="quiz_length" type="xs:float" />
      <xs:element minOccurs="0" name="quiz_status" type="xs:int" />
      <xs:element minOccurs="0" name="quiz_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quiz_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="quiz_weightage" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="quizModel" nillable="true" type="tns:quizModel" />
  <xs:complexType name="ArrayOfquestionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="questionModel" nillable="true" type="tns:questionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfquestionModel" nillable="true" type="tns:ArrayOfquestionModel" />
  <xs:complexType name="questionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_Quiz_id" type="xs:int" />
      <xs:element minOccurs="0" name="PK_Question_id" type="xs:int" />
      <xs:element minOccurs="0" name="hint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="marks" type="xs:double" />
      <xs:element minOccurs="0" name="optionModel" nillable="true" type="tns:ArrayOfoptionModel" />
      <xs:element minOccurs="0" name="question" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="question_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quizModel" nillable="true" type="tns:quizModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="questionModel" nillable="true" type="tns:questionModel" />
  <xs:complexType name="ArrayOfoptionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="optionModel" nillable="true" type="tns:optionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfoptionModel" nillable="true" type="tns:ArrayOfoptionModel" />
  <xs:complexType name="optionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FK_Question_id" type="xs:int" />
      <xs:element minOccurs="0" name="PK_Option_id" type="xs:int" />
      <xs:element minOccurs="0" name="isAnswer" type="xs:int" />
      <xs:element minOccurs="0" name="option_value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="optionModel" nillable="true" type="tns:optionModel" />
  <xs:complexType name="ArrayOfquizModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="quizModel" nillable="true" type="tns:quizModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfquizModel" nillable="true" type="tns:ArrayOfquizModel" />
</xs:schema>