myWebClient/myWebAspClient/myWebAspClient/Service References/account_WCFLib/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Login" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogin_userLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:userLogin" />
  </wsdl:message>
  <wsdl:message name="ILogin_userLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:userLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_passwordReset_InputMessage">
    <wsdl:part name="parameters" element="tns:passwordReset" />
  </wsdl:message>
  <wsdl:message name="ILogin_passwordReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:passwordResetResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_accountVerification_InputMessage">
    <wsdl:part name="parameters" element="tns:accountVerification" />
  </wsdl:message>
  <wsdl:message name="ILogin_accountVerification_OutputMessage">
    <wsdl:part name="parameters" element="tns:accountVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="ILogin_verificationResend_InputMessage">
    <wsdl:part name="parameters" element="tns:verificationResend" />
  </wsdl:message>
  <wsdl:message name="ILogin_verificationResend_OutputMessage">
    <wsdl:part name="parameters" element="tns:verificationResendResponse" />
  </wsdl:message>
  <wsdl:portType name="ILogin">
    <wsdl:operation name="userLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/userLogin" message="tns:ILogin_userLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/userLoginResponse" message="tns:ILogin_userLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="passwordReset">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/passwordReset" message="tns:ILogin_passwordReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/passwordResetResponse" message="tns:ILogin_passwordReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="accountVerification">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/accountVerification" message="tns:ILogin_accountVerification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/accountVerificationResponse" message="tns:ILogin_accountVerification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="verificationResend">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogin/verificationResend" message="tns:ILogin_verificationResend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogin/verificationResendResponse" message="tns:ILogin_verificationResend_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogin" type="tns:ILogin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="userLogin">
      <soap:operation soapAction="http://tempuri.org/ILogin/userLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="passwordReset">
      <soap:operation soapAction="http://tempuri.org/ILogin/passwordReset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="accountVerification">
      <soap:operation soapAction="http://tempuri.org/ILogin/accountVerification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verificationResend">
      <soap:operation soapAction="http://tempuri.org/ILogin/verificationResend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Login">
    <wsdl:port name="BasicHttpBinding_ILogin" binding="tns:BasicHttpBinding_ILogin">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/myWCFClassLibrary/Login/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>